# Name of our action
name: Release

# The event that will trigger the action
on:
  push:
    branches:
      - main

# what the action will do
jobs:
  release:
    # The operating system it will run on
    runs-on: ubuntu-latest

    # This check needs to be in place to prevent a publish loop with auto and github actions
    if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')"

    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      HUSKY: 0

    # The list of steps that the action will go through
    steps:
      # Checks-out your repo so your workflow can access it.
      - uses: actions/checkout@v4

      # Fetch repo with tags, converting from shallow to complete
      - name: Prepare repository
        run: git fetch --unshallow --tags

      # Download Node and configure for GitHub Packages
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      # Cache dependencies and build outputs to improve workflow execution time
      - name: Cache pnpm modules
        uses: actions/cache@v4
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: Install dependencies
        run: pnpm install

      # Bump version and create a release
      - name: Bump version
        run: npx auto shipit

      # Build a package
      - name: Build
        run: npx @vscode/vsce package  --no-dependencies

      # Publish a package
      - name: Publish
        run: npx @vscode/vsce publish -p ${{ secrets.AZURE_PAT }} --no-dependencies
